.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #3a3a3a, #1a1a1a);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.login-input {
  border-radius: 8px;
  border: 1px solid #444;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin-bottom: 1em;
}

.login-input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 5px var(--primary-color);
}

.login-button,
.logout-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(45deg, var(--primary-color), #4e4ea3);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--button-text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-button:hover,
.logout-button:hover {
  border-color: var(--button-border-color-hover);
}

.login-button:focus,
.logout-button:focus,
.login-button:focus-visible,
.logout-button:focus-visible {
  outline: 4px auto var(--button-focus-outline);
}

.login-error {
  color: red;
}